@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Hybrid AD Team</h3>

<address>
    15590 NE 31st<br />
    Redmond, WA<br />
</address>

<address>
    <strong>Joel:</strong>   <a href="mailto:v-joegue@microsoft.com">v-joegue@microsoft.com</a><br />
    <strong>Marilee:</strong> <a href="mailto:v-matur@microsoft.com">v-matur@microsoft.com</a><br />
    <strong>Sadia:</strong> <a href="mailto:v-sabus@microsoft.com">v-sabus@microsoft.com</a>
</address>