@{
    ViewBag.Title = "ComCor - Umbrella Corp";
}

<div class="jumbotron">
    <h1><img src="~/Content/UmbrellaCorporation.png" alt="Umbrella Corp logo" height="64" width="64" />ComCor</h1>
    <p class="lead">Community Conference rooms - Meeting places around the Umbrella Corp campus.</p>
</div>
<div id="room-container">
</div>
<script src="~/Scripts/jquery-2.1.3.min.js"></script>

@if (Request.IsAuthenticated)
{
    <script src="~/Scripts/rooms.js"></script>
}
else
{
    <script src="~/Scripts/denied.js"></script>
}

